#et_pb_contact_form_0 {
  .et_pb_contact_submit {
    background: $orange;
    font-family: $heading;
    color: $white;
    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: 600;
    border-bottom-right-radius: 15px;
    transition: all .2s ease-in;
    border: 0 !important;
    &:hover {
      background-color: #f89c2a !important;
      border: 0 !important;
    }
  }
}