.et_pb_text_inner ul {
  margin-top: 12px;
  li {
    line-height: 2em;
    padding-inline-start: 1ch;
    &::marker {
      content: "»";
      font-size: 18px;
      --hue: 0;
      color: $blue;
    }
    a {
      color: $blue;

      &:hover {
        color: rgba($blue, .7)
      }
    }
  }
}