.project-wrapper {
  padding: 0;

  .project {
    width: 100% !important;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #efefef;
    padding-top: 0;

    .et_pb_text {
      margin-bottom: 6px !important;
    }

    .et_pb_image {
      margin-left: auto!important;
      margin-right: 0 !important;
      max-width: 85%;
      text-align: left;

      .et_pb_image_wrap {
        border-radius: 15px 0 15px 0;
        overflow: hidden;
        display: inline-block;
        position: relative;
        max-width: 100%;
      }
    }

    .et_pb_column_1_2 {
      margin: auto;

      li {
        line-height: 2em;
        padding-inline-start: 1ch;
        &::marker {
          content: "»";
          font-size: 18px;
          --hue: 0;
          color: $blue;
        }
        a {
          color: $blue;
          font-weight: bold;
          margin-top: 20px;
          display: block;

          &:hover {
            color: rgba($blue, .7)
          }
        }
      }
    }
  }
}
