.button_primary {
  background: $orange;
  font-family: $heading;
  color: $white;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-bottom-right-radius: 15px;
  transition: all .2s ease-in;
  border: 0 !important;
  &:hover {
    background-color: #f89c2a !important;
    border: 0 !important;
  }
}

.button_stages_vacatures {
  a {
    background: $orange;
    font-family: $heading;
    color: $white;
    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: 600;
    border-bottom-right-radius: 15px;
    transition: all .2s ease-in;
    border: 0 !important;
    display: inline-block;
    &:hover {
      background-color: #f89c2a !important;
      border: 0 !important;
    }
  }
}
