h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading;
  margin-bottom: 15px;
  color: $green;
  font-weight: bold;
}

h1 {
  font-size: 36px !important;
}

body {
  font-family: $text;
  line-height: 2em;
  color: $brown;
}

#main-footer {
  display: none;
}

.no-results-padding {
  padding: 0 !important;

  .et_pb_row {
    padding: 0;
  }
}