$brown: #646254;
$green: #229ea0;
$blue: #0092B4;
$orange: #f79011;
$white: #FFF;
$lblue: #ebf6f8;

/*
Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$heading: 'Lexend', sans-serif;
$text: 'Montserrat', sans-serif;