@charset "UTF-8";
/*
 Theme Name:     CIG De Zeshoek
 Theme URI:      https://www.cigdezeshoek.be
 Description:    Divi Child Theme
 Author:         VBdesign
 Author URI:     https://www.vbdesign.be
 Template:       Divi
 Version:        1.0.0
*/
/* =Theme customization starts here
------------------------------------------------------- */
/*
Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
  margin-bottom: 15px;
  color: #229ea0;
  font-weight: bold;
}

h1 {
  font-size: 36px !important;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  color: #646254;
}

#main-footer {
  display: none;
}

.no-results-padding {
  padding: 0 !important;
}
.no-results-padding .et_pb_row {
  padding: 0;
}

.button_primary {
  background: #f79011;
  font-family: "Lexend", sans-serif;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-bottom-right-radius: 15px;
  transition: all 0.2s ease-in;
  border: 0 !important;
}
.button_primary:hover {
  background-color: #f89c2a !important;
  border: 0 !important;
}

.button_stages_vacatures a {
  background: #f79011;
  font-family: "Lexend", sans-serif;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-bottom-right-radius: 15px;
  transition: all 0.2s ease-in;
  border: 0 !important;
  display: inline-block;
}
.button_stages_vacatures a:hover {
  background-color: #f89c2a !important;
  border: 0 !important;
}

#top-menu-nav a {
  font-size: 18px;
  font-family: "Lexend", sans-serif;
}
#top-menu-nav li.current-menu-item a {
  color: #0092B4;
}

.et_pb_text_inner ul {
  margin-top: 12px;
}
.et_pb_text_inner ul li {
  line-height: 2em;
  padding-inline-start: 1ch;
}
.et_pb_text_inner ul li::marker {
  content: "»";
  font-size: 18px;
  --hue: 0;
  color: #0092B4;
}
.et_pb_text_inner ul li a {
  color: #0092B4;
}
.et_pb_text_inner ul li a:hover {
  color: rgba(0, 146, 180, 0.7);
}

#et_pb_contact_form_0 .et_pb_contact_submit {
  background: #f79011;
  font-family: "Lexend", sans-serif;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-bottom-right-radius: 15px;
  transition: all 0.2s ease-in;
  border: 0 !important;
}
#et_pb_contact_form_0 .et_pb_contact_submit:hover {
  background-color: #f89c2a !important;
  border: 0 !important;
}

.project-wrapper {
  padding: 0;
}
.project-wrapper .project {
  width: 100% !important;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #efefef;
  padding-top: 0;
}
.project-wrapper .project .et_pb_text {
  margin-bottom: 6px !important;
}
.project-wrapper .project .et_pb_image {
  margin-left: auto !important;
  margin-right: 0 !important;
  max-width: 85%;
  text-align: left;
}
.project-wrapper .project .et_pb_image .et_pb_image_wrap {
  border-radius: 15px 0 15px 0;
  overflow: hidden;
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.project-wrapper .project .et_pb_column_1_2 {
  margin: auto;
}
.project-wrapper .project .et_pb_column_1_2 li {
  line-height: 2em;
  padding-inline-start: 1ch;
}
.project-wrapper .project .et_pb_column_1_2 li::marker {
  content: "»";
  font-size: 18px;
  --hue: 0;
  color: #0092B4;
}
.project-wrapper .project .et_pb_column_1_2 li a {
  color: #0092B4;
  font-weight: bold;
  margin-top: 20px;
  display: block;
}
.project-wrapper .project .et_pb_column_1_2 li a:hover {
  color: rgba(0, 146, 180, 0.7);
}

/*# sourceMappingURL=style.css.map */
